.component-tag {
    -unity-font-style: bold;
    font-size: 9px;
    padding: 2px 4px;
    border-radius: 8px;
    margin: 0 2px 0 0;
}

.entity-row {
    background-color: rgba(0, 0, 0, 0);
    flex-direction: row;
}

.tag-list {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0);
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 4px;
    padding-right: 4px;
}
